@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  box-sizing: border-box;
}

.navbar {
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background: transparent;
    display: flex;
    flex-direction: row;
    font-family: Dancing Script;
    }

.links {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: larger;
    transition-duration: 1s;
}

#Gmail:hover{
    text-decoration: underline;
    font-size: 25px;
    transition-duration: 1s;
}

#Images:hover{
    text-decoration: underline;
    font-size: 25px;
    transition-duration: 1s;
}
  
.title {
    font-size: 95px;
    color: white;
    margin: 2%;
    background: transparent;
    text-decoration: none;
    font-family: Dancing Script;
    transition-duration: 2s;
    transition-timing-function: 2s;
  }

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 80px;
}

.title:hover{
    font-size: 110px;
    transition-duration: 1s;
}

.search-bar {
    width: 100%;
    max-width: 550px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(30, 30, 30,0.175);
}
  
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px;
    font-size: 15px;
    color: white;
}

.search-bar img {
    border: 0px;
    border-radius: 50px;
    background-color: transparent;
    width: 25px;
    filter: invert(1);

}

.search-bar button {
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.lowerlinks{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    top: 240px;
}
.lowerlinks a{
    margin: 10px;
}
#webstore{
    height: 56px;
    border-radius: 5px;
    filter: invert(1);
    transition-duration: 600ms;
}

#mail{
    border-radius: 5px;
    filter: invert(1);
    transition-duration: 600ms;
}

#webstore:hover{
    width: 80px;
    height: 66px;
    transition-duration: 600ms;
}

#mail:hover{
    width: 80px;
    transition-duration: 600ms;
}

@media (max-width: 1000px) {
    body {
      top: 10px;
    }
    .title {
      font-size: 50px;
    }
    .search-bar {
      width: 400px;
    }
    #webstore{
        height: 46px;
        border-radius: 5px;
        filter: invert(1);
        transition-duration: 600ms;
    }
    #mail{
        border-radius: 5px;
        filter: invert(1);
        transition-duration: 600ms;
        height: 46px;
    }
    .lowerlinks{
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: space-evenly;
        top: 180px;
    }
  }
  
    @media (max-width: 400px) {
      body {
        top: 10px;
      }
      .title {
        font-size: 50px;
      }
      .search-bar {
        width: 200px;
      }
      .search-bar img {
        width: 10px;
        
      }
      .search-bar img {
        border: 0px;
        border-radius: 25px;
        background-color: transparent;
      }
      .search-bar button {
        background: transparent;
        border: 0px;
        cursor: pointer;
      }
      .placeholder{
        
      }
  }

 #sun{
  transition-duration: 5s;
 }

 #moon{
  transition-duration: 5s;
 }

 #sun:hover{
  width: 40px;
  height: 40px;
  transition-duration: 5s;
 }

 #moon:hover{
  width: 40px;
  height: 40px;
  transition-duration: 5s;
 }